.container-about {

	display:flex;

	.leftSide,
	.rightSide {
		width:100%;
		height:100vh;
	}

	.leftSide {
	background:$main-background;
	}

	.rightSide {
		background: $second-background;
	}

	h2 {
		text-align: center;
		margin-top:30%;
		text-transform: uppercase;
		color:$main-background;
		span {
			color: #e62739;
		}
	}


}


@media (max-width:800px){

	.container-about {
		flex-direction: column;

		.leftSide {
		order:2;
		}

		.rightSide {
			order:1;
		}

	



	}

	
}