body {
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
	overflow-x:hidden;
}

.container-main {

	display:flex;


	.logo {
		position:absolute;
		left:50%;
		top:20%;
	}
	.logo__pic {
		position:relative;
		left:-50%;	
		display:block;
		text-indent: -9999px;
		height:600px;
		width:700px;
		background: url(../img/deer.svg);
		background-size: 1300px 1300px;
		background-repeat:no-repeat;
		background-position: 50% 50%;

	}

	h1 {
		position:absolute;
		left:-80px;
		letter-spacing: 2px;
		font-size:40px;
		color: $main-background;
		span {
			color:#e9ece5;
		}
	}

	.leftSide,
	.rightSide {
		width:100%;
		height:100vh;
	}

	.leftSide {
	background: $main-background;
	}

	.rightSide {
		background: #e9ece5;
	}
	

}


@media(max-width:1300px){
	.container-main {

		.logo {
			top:15%;

		}
		.logo__pic {
			height:400px;
			width:500px;
			background-size: 800px 800px;
		}


	}
}


@media (max-width:450px){

	.container-main {

		.logo {
			top:20%;

		}
		.logo__pic {
			height:300px;
			width:400px;
			background-size: 600px 600px;
		}


	}

}

.angular-google-map-container { 

	height: 100vh;

}

@media (max-width:800px) {

	.angular-google-map-container { 

		height: 400px;
		width:95%;
		margin:0 auto;
	}
}


