body {
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
}

.container-main {

	display:flex;

	.logo {
		position:absolute;
		left:50%;
		top:20%;
	}
	.logo__pic {
		position:relative;
		left:-50%;	
		display:block;
		text-indent: -9999px;
		height:600px;
		width:700px;
		background: url(../img/deer.svg);
		background-size: 1300px 1300px;
		background-repeat:no-repeat;
		background-position: 50% 50%;
	}

	.leftSide,
	.rightSide {
		width:100%;
		height:100vh;
	}

	.leftSide {
	background: #2b3638;
	}

	.rightSide {
		background: #e9ece5;
	}


}


@media (max-width:800px){

	.container-main {
		flex-direction: column;
	}

	.leftSide {
		order:2;
	}

	.rightSide {
		order:1;
	}

}

.angular-google-map-container { 

	height: 100vh;

}

@media (max-width:800px) {

	.angular-google-map-container { 

		height: 400px;
		width:95%;
		margin:0 auto;
	}
}


