body {
	box-sizing:border-box;
	// font-family: 'Roboto', sans-serif;
	font-family: 'Julius Sans One', sans-serif;
	background: $second-background;
	
}

.container {
	animation-name:fadeIn;
	animation-duration:1s;
}

.container-main {

	display:flex;
	overflow:hidden;
	position:relative;


	.logo {
		position:absolute;
		left:50%;
		top:20%;

	}
	.logo__pic {
		position:relative;
		left:-50%;	
		display:block;
		text-indent: -9999px;
		height:600px;
		width:700px;
		background: url(../img/deer3.svg);
		background-size: 1300px 1300px;
		background-repeat:no-repeat;
		background-position: 50% 50%;
		animation-name: slideInDown;
		animation-duration: 0.7s;


	}

	h1 {
		position:absolute;
		left:-140px;
		letter-spacing: 2px;
		font-size:50px;
		color: $main-background;
		animation-name: slideInUp;
		animation-duration:1s;

		span {
			color:#e62739;//#e9ece5;
		}
	}

	.leftSide,
	.rightSide {
		width:100%;
		height:100vh;

	}

	.leftSide {
	background: $main-background;
	}

	.rightSide {
		background: $second-background;
	}
	

}


@media(max-width:1800px){
	.container-main {

		.logo {
			top:18%;

		}
		.logo__pic {
			height:400px;
			width:500px;
			background-size: 800px 800px;
		}


	}
}


@media(max-width:1400px){
	.container-main {

		.logo {
			top:15%;

		}
		.logo__pic {
			height:400px;
			width:500px;
			background-size: 800px 800px;
		}


	}
}


@media (max-width:450px){

	.container-main {

		.logo {
			top:20%;

		}
		.logo__pic {
			height:300px;
			width:400px;
			background-size: 600px 600px;
		}


	}

}

.angular-google-map-container { 

	height: 100vh;


}

@media (max-width:800px) {

	.angular-google-map-container { 

		height: 400px;
		
		margin:0 auto;
	}
}


