.container-projects {

	display:flex;

	.leftSide,
	.rightSide {
		width:100%;
		
	}

	.leftSide {
	background:$main-background;
	}

	.rightSide {
		background: #e9ece5;
	}


}

.project-thumbs {

	margin:0;
	padding:0;
	
	img {
		height:auto;
		width:100%;
	}
}

.project-thumbs__thumb {
	list-style: none;
}

@media (max-width:800px){

	.container-projects {
		flex-direction: column;

		.leftSide {
			order:2;
		}

		.rightSide {
			order:1;
		}

	}

	

}