<div class=" container container-contact">
	<div class="leftSide">
		<ui-gmap-google-map center='map.center' zoom='map.zoom' options="options"></ui-gmap-google-map>
	</div>
	<div class="rightSide">
		<navigation></navigation>
		<div class="wrapper-form">
			<h2>C<span>o</span>ntact Form</h2>
			<form name="userForm" novalidate autocomplete="off">

				<div class="input-group" ng-class="{ 'error':userForm.username.$touched && userForm.username.$invalid }" >
					<input type="text" name="username" placeholder="Your Name"
						 ng-model="username" 
						 ng-minlength="3" 
						 ng-maxlength="10" 
						 required />
					<div ng-messages="userForm.username.$error" ng-if="userForm.username.$touched">
						<p ng-message="minlength">Your name is too short.</p>
				        <p ng-message="maxlength">Your name is too long.</p>
				        <p ng-message="required">Your name is required.</p>
					</div>
				</div>

				<div class="input-group" ng-class="{ 'error':userForm.email.$touched && userForm.email.$invalid }" >
					<input type="email" name="email" placeholder="Email"
						ng-model="email"
						ng-minlength="5" 
						ng-maxlength="20"
						required>
					<div ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
						<p ng-message="minlength">Your email is too short.</p>
				        <p ng-message="maxlength">Your email is too long.</p>
				        <p ng-message="email">Your email is invalid</p>
				        <p ng-message="required">Your email is required.</p>
					</div>
				</div>

				<div class="textarea-group" ng-class="{ 'error':userForm.textarea.$touched && userForm.textarea.$invalid }" >
					<textarea cols="30" rows="10" name="textarea" placeholder="Message" 
						ng-model="textarea"
						ng-minlength="5"
						required>
					</textarea>	
					<div ng-messages="userForm.textarea.$error" ng-if="userForm.textarea.$touched">
						<p ng-message="minlength">Your message is too short.</p>
				        <p ng-message="required">Your message is required.</p>
					</div>
				</div>
				<button type="submit"  ng-disabled="userForm.$invalid">SEND</button>
			</form>
		</div>

		<div class="wrapper-info">

			<div class="wrapper-info__icon">
				<i class="fa fa-address-book fa-lg" aria-hidden="true"></i>
				<p>kosmagajek@gmail.com</p>
			</div>

			<div class="wrapper-info__icon">
				<i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
				<p>698 660 951</p>
			</div>

			<div class="wrapper-info__icon">
				<a target="_blank" href="https://www.facebook.com/TG-Fotografia-314168438950429">
				<i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
				<p>facebook</p>
				</a>
			</div>

		</div>

	</div>

</div>
